transformers
diffusers
accelerate
safetensors
sentencepiece
protobuf
torch
Pillow
opencv-python
peft
einops
xformers
numpy
scipy
fastapi
uvicorn[standard]
pydantic
huggingface-hub
typing_extensions
python-multipart
langchain_google_genai
pytorch_lightning
omegaconf
timm
webdataset
scikit-image
easydict
scikit-learn
pandas
albumentations==0.5.2
kornia
